<style>
  .lang-select-wrapper {
    position: relative;
    display: inline-block;
  }

  .lang-select-wrapper img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
  }
  #langSelect {
    appearance: none;
    background-color: white;
    border: none;
    padding: 0 1rem;
    width: 180px;
    height: 40px;
    border-radius: 8px;
    font-size: 14px;
  }
</style>
<div class="lang-select-wrapper">
  <select name="lang" id="langSelect" style="visibility: hidden;">
    {{#each localesMap}}
    <option value="{{this.lang}}">{{this.label}}</option>
    {{/each}}
  </select>
  <img src="/assets/icons/icon-dropdown.svg" alt="">
</div>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script defer>
  function wait() {
    return new Promise((resolve) => {
      setTimeout(() => {
        resolve()
      }, 1000);
    })
  }
  function getCookiesLib() {
    return new Promise((resolve) => {
      if (typeof Cookies !== "undefined") {
        resolve(Cookies);
      } else {
        wait().then(() => getCookiesLib().then(resolve));
      }
    })
  }
  getCookiesLib().then((Cookies) => {
    const langSelect = document.querySelector("#langSelect");
    langSelect.value = Cookies.get('lang') || 'en';
    langSelect.style.visibility = "visible";
    langSelect.addEventListener('change', event => {
      Cookies.set('lang', event.target.value);
      location.reload();
    });
  })
</script>