<!DOCTYPE html>
<html lang={{ langDict.lang }}>

<head>
  <title>{{ langDict.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link rel="stylesheet" href="/assets/style/style.css" />
  <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
  <script>
    langDict = {{ json langDict }}
  </script>
  {{#if langDict.isRtl}}
    <link rel="stylesheet" href="/assets/style/rtl.css">
  {{/if}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PWBL363J70"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-PWBL363J70');
  </script>
</head>

<body>
  {{> @partial-block }}
</body>

</html>