<select name="lang" id="langSelect" style="visibility: hidden;">
  <option value="en">English</option>
  <option value="he">עברית</option>
  <option value="se">Swedish</option>
</select>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script defer>
  function wait() {
    return new Promise((resolve) => {
      setTimeout(() => {
        resolve()
      }, 1000);
    })
  }
  function getCookiesLib() {
    return new Promise((resolve) => {
      if (typeof Cookies !== "undefined") {
        resolve(Cookies);
      } else {
        wait().then(() => getCookiesLib().then(resolve));
      }
    })
  }
  $(function() {
    getCookiesLib().then((Cookies) => {
      const langSelect = document.querySelector("#langSelect");
      langSelect.value = Cookies.get('lang') || 'en';
      langSelect.style.visibility = "visible";
      langSelect.addEventListener('change', event => {
        Cookies.set('lang', event.target.value);
        location.reload();
      });
    })
  })
  {{!-- window.onload = () => main(); --}}
</script>
<div id="sidebar-logo">
  <a href="/">
    <img src="/assets/img/glam-logo.svg" alt="GLAM stat tool">
  </a>
</div>
<div class="institutions-menu">
  <h6>{{ langDict.sidebar.institutions }}</h6>
</div>
<div class="sidebar-links">
  <ul>
    <!-- <li><a href="https://www.wikimedia.ch/" target="blank" title="Wikimedia CH">Wikimedia CH</a></li> -->
    <!-- <li><a href="http://www.supsi.ch/lcv" target="blank" title="SUPSI Laboratory of visual culture">SUPSI Laboratory of visual culture</a></li> -->
    <!-- <li><a href="https://synapta.it/" target="blank" title="Synapta">Synapta</a></li> -->
    <li><a id="github" href="https://github.com/yonathan06/cassandra-GLAM-tools" target="blank"
        title="GitHub repository">GitHub repository</a></li>
  </ul>
</div>
<div class="admin-panel">
  <a id="admin-panel-link" href="/admin/panel">CONTROL PANEL</a>
</div>