<style>
  :root {
    --link-space-side: 30px;
    --sidebar-border-radius: 100px;
  }

  .main-sidebar {
    padding: 40px 0;
    background-color: var(--main);
    position: fixed;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    color: white;
    width: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom-right-radius: var(--sidebar-border-radius);
    font-size: 16px;
  }

  .main-sidebar a {
    color: inherit;
    text-decoration: none;
  }

  .sidebar-logo {
    margin-inline-start: var(--link-space-side);
    flex: auto 0 0;
    margin-bottom: 40px;
  }

  .sidebar-logo>a {
    color: white;
    text-decoration: none;
  }

  .glam-title {
    font-size: 48px;
  }

  .glam-subtitle {
    font-size: 18px;
  }

  .institutions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-self: stretch;
  }

  .sidebar-link {
    display: flex;
    align-items: center;
    height: 54px;
    padding-inline-start: var(--link-space-side);
  }

  .sidebar-link:hover {
    background-color: var(--secondary);
  }

  .sidebar-links {
    display: flex;
    flex-direction: column;
    align-self: stretch;
  }

  .sidebar-links>a {
    padding-inline-start: var(--link-space-side);
  }

  .sidebar-wikiil-logo {
    padding-inline-start: var(--link-space-side);
    margin-top: 66px;
  }

  .sidebar-wikiil-logo>img {
    height: 64px;
    object-fit: contain;
  }

  #secondary-sidebar {
    background-color: var(--secondary);
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(calc(-1 * var(--sidebar-border-radius)));
    width: calc(var(--sidebar-width) + var(--sidebar-border-radius));
    padding-inline-start: var(--sidebar-border-radius);
    transition: all .5s;
    border-bottom-right-radius: var(--sidebar-border-radius);
    font-size: 16px;
  }

  #secondary-sidebar .institutions-list {
    position: relative;
    top: 10rem;
    list-style-type: none;
    padding: 0;
  }

  #secondary-sidebar .institutions-list>li {
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0 22px;
  }

  #secondary-sidebar .institutions-list>li:hover {
    background-color: var(--main);
  } 

  #secondary-sidebar .institutions-list>li>a {
    color: white;
    text-decoration: none;
  }
</style>
{{#if langDict.isRtl}}
<style>
  .main-sidebar {
    left: auto;
    right: 0;
    border-bottom-left-radius: var(--sidebar-border-radius);
    border-bottom-right-radius: 0;
  }

  .main-sidebar>#sidebar-logo {
    text-align: center;
  }

  #secondary-sidebar {
    left: auto;
    right: 0;
    border-bottom-left-radius: var(--sidebar-border-radius);
    border-bottom-right-radius: 0;
    transform: translateX(calc(var(--sidebar-border-radius)));
  }
</style>
{{/if}}
<aside class="main-sidebar">
  <div class="sidebar-logo">
    <a href="/">
      <div class="glam-title">GLAM</div>
      <div class="glam-subtitle">WIKIDashboard</div>
    </a>
  </div>
  <div class="institutions">
    <div class="sidebar-link institution-item" id="glamsButton">{{ langDict.sidebar.institutions }}</div>
  </div>
  <div class="sidebar-links">
    {{#if langDict.signup}}
    <a class="sidebar-link" href="https://docs.google.com/forms/d/e/1FAIpQLSd3y26g9LuCld1uYu2SgIVwflnRsTDwmbTjhvidfBYWkHy3Hg/viewform?usp=sf_link"
      target="blank">
      {{langDict.signup}}
    </a>
    {{/if}}
    <a class="sidebar-link" href="https://github.com/yonathan06/cassandra-GLAM-tools" target="blank" title="GitHub repository">GitHub
      repository</a>
    <a class="sidebar-link" href="/admin/panel">Control panel</a>
  </div>
  <div class="sidebar-wikiil-logo">
    <img src="/assets/img/logo_footer_inverted.png" alt="logo white">
  </div>
</aside>
<aside id="secondary-sidebar">
  {{#*inline "glamLink"}}
  <li>
    <a href="/{{glam.name}}">{{glam.fullname}}</a>
  </li>
  {{/inline}}
  <div>
    <ul class="institutions-list">
      {{#each glams}}
      {{> glamLink glam=this}}
      {{/each}}
    </ul>
  </div>
</aside>
<script>
  const direction = langDict.isRtl ? 'right' : 'left';
  const glamsButton = document.querySelector('#glamsButton');
  const secondSidebar = document.querySelector('#secondary-sidebar');
  let isOpen = false;
  function showSideBar() {
    secondSidebar.style[direction] = 'var(--sidebar-width)';
    isOpen = true;
  }
  function hideSideBar() {
    secondSidebar.style[direction] = 0;
    isOpen = false;
  }
  glamsButton.addEventListener('click', () => {
    if (isOpen) {
      hideSideBar();
    } else {
      showSideBar();
    }
  });

  window.addEventListener('click', (e) => {
    if (isOpen) {
      if (e.target.id !== 'secondary-sidebar' && e.target.id !== 'glamsButton') {
        hideSideBar();
      }
    }
  });
</script>