{{#> mainWrapper}}
<style>
  .main-container {
    margin-inline-start: var(--sidebar-width);
    padding: 38px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    min-height: 100vh;
  }

  .about-content {
    display: flex;
    flex-direction: column;
    max-width: 714px;
  }

  .about-header {
    text-align: center;
    line-height: 1.42;
    margin-bottom: 34px;
  }

  .about-header h1 {
    font-weight: normal;
    font-size: 34px;
    margin: 0;
  }

  .about-header h2 {
    font-weight: normal;
    font-size: 24px;
    margin: 0;
  }

  .about-text {
    font-size: 14px;
    line-height: 1.36;
  }

  .about-text p {
    padding-bottom: 34px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.4;
  }

  .thanks {
    margin-top: auto;
    padding: 12px 14px;
    text-align: justify;
    font-weight: 600;
    font-style: italic;
    border-top: 1px solid var(--main);
    border-bottom: 1px solid var(--main);
  }
</style>
<div class="pusher">
  {{> sidebar}}
  <main class="main-container">
    <div>
      {{> langSelect}}
    </div>
    <div class="about-content">
      <div class="about-header">
        <h1>{{langDict.aboutPage.title}}</h1>
        <h2>{{langDict.aboutPage.subtitle}}</h2>
      </div>
      <div class="about-text">
        {{{langDict.aboutPage.body}}}
      </div>
      <div class="thanks">
        {{{langDict.aboutPage.thanks}}}
      </div>
    </div>
  </main>
</div>
{{/mainWrapper}}