{{#> mainWrapper}}
<link rel="stylesheet" href="/assets/style/homepage.css" />

<div id="mobile-sidebar" class="ui left sidebar"></div>
<div class="pusher">
	<header id="mobile-header-bar"></header>
	{{> sidebar}}
	<section id="home-cover" class="cover">
	
	</section>
	<main id="main-container">
		<section>
			<div class="glams-boxes">
				{{#*inline "glamLink"}}
				<div class="glam-container">
					<img src="{{glam.image}}">
					<div class="text-block">
						<a class="glam-link" href="/{{glam.name}}" alt="{{glam.category}}">
							<h4>{{glam.fullname}}</h4>
						</a>
					</div>
				</div>
				{{/inline}}

				{{#each glams}}
				{{> glamLink glam=this}}
				{{/each}}
			</div>
		</section>
	</main>
</div>
{{/mainWrapper}}